POSTGRES_DB=smart_design
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_HOST_PORT=55432
DATABASE_URL=

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_API_CORS_ALLOW_ORIGIN=http://127.0.0.1:5173,http://localhost:5173
USE_EXTERNAL_MINIO=false
S3_ENDPOINT=http://minio:9000
MINIO_INIT_ENDPOINT=http://minio:9000
S3_BUCKET=smart-design-documents
S3_PREVIEW_ENDPOINT=http://127.0.0.1:9000

FRONTEND_PORT=5173
BACKEND_PORT=3001
KKFILEVIEW_PORT=8012
